.section-box{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.box{
    height: 50vh;
    width: 100%;
    margin-bottom:20px;
    max-width: 30vw;
    background-color:red;
}

.box-text{
    background-color:white;
    hei
}