.section-box {
  width: 100%;
  justify-content: space-around;
  justify-content:center;
  align-items: center;
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  justify-content: flex-end;
  align-items: center;
  height: 100%;
 margin:10px;
  margin-bottom: 20px;
 width: 100%;
  /* background-color: red; */
}

@media(max-width:770px){
  .section-box {
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
  }

  .box-inter {
    background-color: blue;
  height:100px;
  width:200px;
    /* width: 100%; */
  
  }
}
@media(max-width:370px){


  .box-inter {
    background-color: blue;
  height:100px;
  width:200px;
    /* width: 100%; */
  
  }
}

.box-inter {
  background-color: blue;
height:200px;
width:300px;
  /* width: 100%; */

}

.obj {
  background-color: green;
  height: ;
  margin-top:-25px;
  width: 50px;


}
