.banner-ignite {
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.banner-four {
  width: 628.4px;
  height: 292px;
  margin: 25px;
  /* Degrade de Imagem */
  background: url("../../../Assets/img/Banner/Rectangle\ 23.svg") no-repeat
    center;
  background-size: 100%;

  border-radius: 15px;
}

.banner-five {
  width: 628.4px;
  height: 292px;
  margin: 25px;
  /* Degrade de Imagem */
  background: url("../../../Assets/img/Banner/Rectangle\ 23.svg") no-repeat
    center;
  background-size: 100%;

  border-radius: 15px;
}
