ul.list-branding {
  width: 100%;
  /* max-width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

ul.list-branding li img {
  width: 0px;
  margin: 30px;
}


.arrowbd {
  
  color: white;
  display: none;
  width: 100%;
  justify-content: flex-end;
}



@media (max-width: 1050px) {
  .arrowbd {
    display: flex;
  }
  .arrowbd img {
    margin-right: 30px;
    animation: mymovetwo 0.8s infinite;
  }
@keyframes mymovetwo {
    to{
        margin-right:10px;
    }
    from{
        margin-right:30px;
    }
}
  ul.list-branding {
    justify-content: flex-start;
  }
}
