ul.list-branding{
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;over
}


ul.list-branding li img{
    width: 200px;
    margin: 30px;
}