.background {
  width: 100%;
  background: url("../../../Assets/img/Background/medio.jpg") no-repeat center
    fixed;
  height: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.background ul {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  /* width: 100px; */
}
.background img {
  display: none;
}

.background ul li .products .img {
    display: flex;
    
}

.products {
  margin: 30px;
  height: 300px;
  width: 200px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2)!important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2)!important;
background-color:white;
display: flex;
justify-content:center;
 
}
@media (max-width: 600px) {
  .background .img {
    position: absolute;
    margin-top: 170px;
    display: flex;
   justify-content:flex-end;
   animation: mymove 0.8s infinite;
  }


  @keyframes mymove {
    from {
      left: 280px;
    }
    to {
      left: 300px;
    }
  }
  
}
.img-products{
    display: flex!important;
    width:120px;
    height: 120px;
}