.background {
  width: 100%;
  background: url("../../../Assets/img/Background/medio.jpg") no-repeat center
    fixed;
  height: 100%;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}
.background ul {
  display: flex;
  overflow-x: auto;
  /* width: 100px; */
}
.background img {
  display: none;
}

.products {
  margin: 30px;
  height: 300px;
  width: 200px;

  background-color: red;
}
@media (max-width: 600px) {
  .background img {
    position: absolute;
    margin-top: -160px;
    display: flex;
   justify-content:flex-end;
   animation: mymove 0.8s infinite;
  }


  @keyframes mymove{
    
  }
}
