.background{
    width: 100%;
    background: url("../../../Assets/img/Background/medio.jpg") no-repeat center fixed;
    height: 60vh;
}


.products{
    height: 300px;
    width: 80px;
    background-color: red;
}