.background{
    width: 100%;
    background: url("../../../Assets/img/Background/medio.jpg") no-repeat center fixed;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.products{
    height: 300px;
    width: 200px;
    background-color: red;
}